# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Environment variables and keys
.env
.env.*
**/android/local.properties
**/android/key.properties
**/*.keystore
**/*.jks

# iOS platform
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/app.flx
**/ios/Flutter/flutter_export_environment.sh
**/ios/Flutter/flutter_assets
**/ios/Pods/
**/ios/.symlinks/
**/ios/Runner/GeneratedPluginRegistrant.*

# macOS platform
**/macos/Flutter/GeneratedPluginRegistrant.swift
**/macos/Flutter/ephemeral/
**/macos/Pods/

# web platform
**/web/build/

# windows platform
**/windows/flutter/ephemeral/
**/windows/flutter/generated_plugin_registrant.cc

# linux platform
**/linux/flutter/ephemeral/
**/linux/flutter/generated_plugin_registrant.cc

# Temporary logs
build_output.txt
debug_output.txt
